<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>S1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewInvoice</servlet-name>
        <servlet-class>NewInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Del</servlet-name>
        <servlet-class>Del</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Del2</servlet-name>
        <servlet-class>Del2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayNow</servlet-name>
        <servlet-class>PayNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTable</servlet-name>
        <servlet-class>UpdateTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/S1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewInvoice</servlet-name>
        <url-pattern>/NewInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Del</servlet-name>
        <url-pattern>/Del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Del2</servlet-name>
        <url-pattern>/Del2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayNow</servlet-name>
        <url-pattern>/PayNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTable</servlet-name>
        <url-pattern>/UpdateTable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
